.home {
  object-fit: contain;
  display: flex;
  justify-content: center;
  margin: 10px;
  padding: 5px;
}
.home__item {
  -webkit-box-shadow: 50px 18px 84px -10px rgba(0, 0, 0, 0.69);
  -moz-box-shadow: 50px 18px 84px -10px rgba(0, 0, 0, 0.69);
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  display: flex;
  justify-content: center;
  flex-direction: column;
  object-fit: contain;
  align-items: center;
  margin-top: 20vh;
  padding: 10px;
  background-color: #1d1e22;
  border-radius: 20px;
  margin-left: 10%;
  margin-right: 10%;
  color: wheat;
  font-size: 150%;
  transition: transform 0.2s;
}

.home__item:hover {
  transform: scale(1.05);
}

.home__name {
  color: #ee4540;
  font-size: 200%;
}

.home__icons {
  margin: 10px;
}
