a {
  color: #ee4540;

  text-decoration: none;
}

a:hover {
  cursor: pointer;
}

a:active {
  box-shadow: none;
  top: 5px;
}

.nav_image {
  object-fit: contain;
  height: 200px;
  width: 200px;
  display: flex;
  align-self: center;
  transition: transform 0.2s;
  margin: 5px;
}

.nav_image:hover {
  transform: scale(1.05);
}
